<br>
<div class="artwork-page">
    {% if not is_buyer %}
    <aside class="artwork-filters">
        <form method="GET">
            <h5>Filters</h5>

            <details class="filter-group">
                <summary>Medium</summary>
                {{ filter.form.medium }}
            </details>

            <details class="filter-group">
                <summary>Style</summary>
                {{ filter.form.style }}
            </details>

            <div class="filter-group">
                <label for="price-range" class="form-label">Price range max: $<span id="priceDisplay">{{ request.GET.max_price|default:max_price }}</span></label>
                <input type="range" class="form-range" id="price-range"
                name="max_price"
                min="0"
                max="{{ max_price }}"
                step="50"
                value="{{ request.GET.max_price|default:max_price }}"
                oninput="document.getElementById('priceDisplay').textContent = this.value">
            </div>

            <div class="filter-group">
                <label for="year-range" class="form-label">Year of creation max: <span id="yearDisplay">{{ request.GET.max_year|default:max_year }}</span></label>
                <input type="range" class="form-range" id="year-range"
                name="max_year"
                min="{{ min_year }}"
                max="{{ max_year }}"
                step="1"
                value="{{ request.GET.max_year|default:max_year }}"
                oninput="document.getElementById('yearDisplay').textContent = this.value">
            </div>

            <details class="filter-group">
                <summary>Size</summary>
                {{ filter.form.size }}
            </details>

            <details class="filter-group">
                <summary>Edition</summary>
                {{ filter.form.edition }}
            </details>

            <hr>
            <button type="submit">Apply</button>
        </form>
    </aside>
    {% endif %}

    <main class="artworks-content">

        <div class="row g-4">

            {% if is_buyer %}

                {% for bid in bids %}
                    {% with artwork=bid.artwork %}
                        <div class="col-md-4">
                            <div class="container-item">
                                {% include "artwork/_single_artwork.html" with is_detail=False is_buyer=True artwork=artwork bid=bid %}

                                <ul class="artworks-info-list">

                                    <li>
                                        <b>Bid price:</b>${{ bid.amount }}
                                    </li>

                                    <li>
                                        <b>Status:</b>{{ bid.get_status_display }}
                                    </li>

                                    <li>
                                        <b>Expiration:</b>{{ bid.expiration_date|default:"No expiration" }}
                                    </li>
                                </ul>
                                {% if request.user == bid.buyer.user %}
                                    {% if bid.status == "accepted" or bid.status == "contingent" %}
                                        <a href="#" class = "btn btn-success">
                                            Finalize bid
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            {% else %}
                {% for artwork in artworks %}

                    <div class="col-md-4">
                        <div class="container-item">
                            {% include "artwork/_single_artwork.html" with is_detail=False artwork=artwork %}

                            <ul class="artworks-info-list">

                                <li>
                                    <b>Medium: </b>{{ artwork.medium }}
                                </li>

                                <li>
                                    <b>Dimensions: </b>{{ artwork.width_cm }}x{{ artwork.height_cm }}cm
                                </li>

                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </main>
</div>


{% if artworks.paginator.num_pages > 1 %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-4">

    {% if artworks.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ artworks.previous_page_number }}">
          Previous
        </a>
      </li>
    {% endif %}

    {% for num in artworks.paginator.page_range %}
      {% if artworks.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">
            {{ num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    {% if artworks.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ artworks.next_page_number }}">
          Next
        </a>
      </li>
    {% endif %}

  </ul>
</nav>

{% endif %}





