{% if not is_seller and not is_buyer %}
<h1 class="display-4 all-title">Artworks</h1>
{% endif %}
<div class="artwork-page">
    {% if not is_buyer %}

    <aside class="artwork-sidebar d-none d-lg-block">
        <form method="GET" class="filters-form">

            <div class="filter-group">
                <label>Order By</label>
                {{ filter.form.order_by }}
            </div>

            {% include "artwork/_filters.html" %}
        </form>
    </aside>

    <div class="artwork-main">

        <div class="mobile-filter-bar d-flex d-lg-none">
                <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileFilters">
                  Filters
                </button>

                <div class="mobile-sort">
                    <span>Order By</span>
                    {{ filter.form.order_by }}
                </div>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileFilters">

          <div class="offcanvas-header">
            <h5>Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>

          <div class="offcanvas-body">
              <form method="GET" class="filters-form">

                  {% include "artwork/_filters.html" %}
                  <input type="hidden" name="order_by" value="{{ request.GET.order_by }}">

              </form>

          </div>

        </div>

        {% endif %}



        <main class="artworks-content">

            <div class="row g-4">

                {% if is_buyer %}

                    {% for bid in bids %}
                        {% with artwork=bid.artwork %}
                            <div class="col-md-4">
                                <div class="container-item">
                                    {% include "artwork/_single_artwork.html" with is_detail=False is_buyer=True artwork=artwork bid=bid %}

                                    <ul class="artworks-info-list">

                                        <li>
                                            <b>Bid price:</b>${{ bid.amount }}
                                        </li>

                                        <li>
                                            <b>Date of bid:</b> {{ bid.timestamp }}
                                        </li>
                                        <li>
                                            <b>Status:</b>{{ bid.get_status_display }}
                                        </li>

                                        <li>
                                            <b>Expiration:</b>{{ bid.expiration_date|default:"No expiration" }}
                                        </li>
                                    </ul>
                                    {% if request.user == bid.buyer.user %}

                                        {% if bid.status == "pending" %}
                                            <a href="{% url 'artworks-detail' bid.artwork.id %}"
                                               class ="btn btn-outline-primary">
                                                Resubmit bid
                                            </a>
                                        {% endif %}


                                        {% if bid.status == "accepted" %}
                                            <a href="{% url 'finalize-contact' bid.id %}" class = "btn btn-success">
                                                Finalize bid
                                            </a>
                                        {% elif bid.status == "contingent" %}
                                            <a href="{% url 'contingency-detail' bid.id %}" class = "btn btn-info">
                                                View requirements
                                            </a>
                                        {% endif %}

                                        <form method="POST"
                                              action="{% url 'delete-bid' bid.id %}"
                                              style="display:inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger">
                                                Delete Bid
                                            </button>

                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    {% for artwork in artworks %}

                        <div class="col-md-4">
                            <div class="container-item">
                                {% include "artwork/_single_artwork.html" with is_detail=False artwork=artwork %}

                                <ul class="artworks-info-list">

                                    <li>
                                        <b>Mediums: </b>
                                        {% for medium in artwork.mediums.all %}
                                            {{ medium.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </li>

                                    <li>
                                        <b>Dimensions: </b>{{ artwork.width_cm }}x{{ artwork.height_cm }}cm
                                    </li>

                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </main>
    </div>
</div>


{% if artworks.paginator.num_pages > 1 %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-4">

    {% if artworks.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ artworks.previous_page_number }}">
          Previous
        </a>
      </li>
    {% endif %}

    {% for num in artworks.paginator.page_range %}
      {% if artworks.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">
            {{ num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    {% if artworks.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ artworks.next_page_number }}">
          Next
        </a>
      </li>
    {% endif %}

  </ul>
</nav>

{% endif %}





