<details class="filter-group">
    <summary>Medium</summary>
    {{ filter.form.mediums }}
</details>

<details class="filter-group">
    <summary>Style</summary>
    {{ filter.form.style }}
</details>

<div class="filter-group">
    <label for="price-range" class="form-label">Price range max: $<span id="priceDisplay">{{ request.GET.max_price|default:max_price }}</span></label>
    <input type="range" class="form-range" id="price-range"
    name="max_price"
    min="0"
    max="{{ max_price }}"
    step="50"
    value="{{ request.GET.max_price|default:max_price }}"
    oninput="document.getElementById('priceDisplay').textContent = this.value">
</div>

<div class="filter-group">
    <label for="year-range" class="form-label">Year of creation max: <span id="yearDisplay">{{ request.GET.max_year|default:max_year }}</span></label>
    <input type="range" class="form-range" id="year-range"
    name="max_year"
    min="{{ min_year }}"
    max="{{ max_year }}"
    step="1"
    value="{{ request.GET.max_year|default:max_year }}"
    oninput="document.getElementById('yearDisplay').textContent = this.value">
</div>

<details class="filter-group">
    <summary>Size</summary>
    {{ filter.form.size }}
</details>

<details class="filter-group">
    <summary>Edition</summary>
    {{ filter.form.edition }}
</details>

    <div class="availability-filter">
        <label>Availability</label>
        <select name="availability">
            <option value="">
                All
            </option>

            <option value="available">
                Available
            </option>

            <option value="sold">
                Sold
            </option>
        </select>
    </div>

<hr>
<button class="filter-submit-button" type="submit">Apply</button>
<a href="?">Clear Filters</a>
