<div class="{% if is_detail %}artwork-detail-layout{% endif %}">

    <div class="artwork-image-section">
        <a href="{% url 'artworks-detail' artwork.id %}">
            {% with artwork_image=artwork.image_set.first %}
                {% if artwork_image %}
                    <img src="{{ artwork_image.image.url }}" class="artwork-image" alt="artwork-image">
                {% endif %}
            {% endwith %}
        </a>
    </div>

    <div class="artwork-info-section">
        <h3>{{artwork.title}}</h3>
        <a href="{% url 'seller-detail' artwork.seller.id %}">
            <div class="seller">
                <img src="{{ artwork.seller.logo.url}}" class="artwork_seller-image" alt="seller-logo">
                <span class="seller-name">{{ artwork.seller.user.username }}</span>
            </div>
        </a>

        <section>
            <b>Starting bid:</b>
            <span class="starting-bid">${{ artwork.starting_bid_price }}</span>
        </section>

        <div class="artwork-status-and-bid">

            {% if artwork.is_sold == False %}
                <p class="badge text-bg-success">Available!</p>

            {% else %}
                <p class="badge text-bg-secondary">Sold</p>

            {% endif %}

        </div>


        {% if is_detail == True %}

        <div class="accordion" id="accordionPanelsStayOpenExample" style="width: 500px">

            <div class="accordion-item">

                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Details
                    </button>
                </h2>

                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <b>Medium: </b>{{ artwork.medium }}
                            </li>

                            <li class="list-group-item">
                                <b>Style: </b>{{ artwork.style }}
                            </li>

                            <li class="list-group-item">
                                <b>Dimensions: </b>{{ artwork.width_cm }} x {{ artwork.height_cm }}cm
                            </li>

                            <li class="list-group-item">
                                <b>Listing date: </b>{{ artwork.listing_date }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">

                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Additional details
                    </button>
                </h2>

                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                              <b>Year of creation: </b>{{ artwork.year_of_creation }}
                            </li>

                            <li class="list-group-item">
                              <b>Edition: </b>{{ artwork.edition }}
                            </li>

                            <li class="list-group-item">
                              <b>Provenance: </b>{{ artwork.provenance }}
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    </div>

</div>
