{% extends "base.html" %}

{% block content %}

<div class="seller-page">

    <div class="seller-grid">

        {% for seller in sellers %}

        <a href="{% url 'seller-detail' seller.id %}" class="seller-card seller-link">

            <img src="{{ seller.logo.url }}" class="seller-card-logo">

            <h3 class="seller-name">{{ seller.user.username }}</h3>

            <div class="seller-type-text">
                {{ seller.seller_type }}
            </div>

        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}