{% extends "base.html" %}

{% block content %}

<div class="seller-detail-page">

    <div class="seller-detail-cover-wrapper">

        {% if seller.cover_image %}
        <img src="{{ seller.cover_image.url }}" class="seller-detail-cover-image">
        {% endif %}

    </div>

    <div class="seller-detail-profile-wrapper">

        <div class="seller-detail-profile-card">

            {% if seller.logo %}
            <img src="{{ seller.logo.url }}" class="seller-detail-logo">
            {% endif %}

            <div class="seller-detail-info">

                <div class="seller-detail-name">
                    {{ seller.user.username }}
                </div>

                <div class="seller-detail-type">
                    {{ seller.seller_type }}
                </div>

                {% if seller.seller_type == "gallery" and seller.street_name and seller.city and seller.postal_code %}
                <div class="seller-detail-address">
                    {{ seller.street_name }}, {{ seller.city }}, {{ seller.postal_code }}
                </div>
                {% endif %}

                <div class="seller-detail-bio">
                    {{ seller.bio }}
                </div>

            </div>

        </div>

    </div>

    <div class="seller-detail-artworks">

        <div class="seller-detail-section-title">
            Artworks
        </div>

        <a href="{% url 'my-artworks' %}" class="btn btn-outline-secondary">
           View All Artwork
        </a>

        {% include "artwork/_artworks-list.html" with is_seller=True artworks=artworks %}

    </div>

</div>

{% endblock %}


