{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="display-4 all-title">All Sellers</h1>
<div class="seller-page">

    <div class="seller-grid">

        {% for seller in sellers %}
        {% if seller.is_approved %}

        <a href="{% url 'seller-detail' seller.id %}" class="seller-card seller-link">

            {% if seller.logo %}
                <img src="{{ seller.logo.url }}" class="seller-card-logo">
            {% else %}
                <img src="{% static 'images/profile-placeholder.png' %}" class="seller-card-logo">
            {% endif %}

            <h3 class="seller-name">{{ seller.full_name }}</h3>

            <div class="seller-type-text">
                {{ seller.seller_type }}
            </div>

        </a>

        {% endif %}
        {% endfor %}

    </div>

</div>

{% endblock %}