{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="seller-page">

    <div class="seller-grid">

        {% for seller in sellers %}

        <a href="{% url 'seller-detail' seller.id %}" class="seller-card seller-link">

            {% if seller.logo %}
                <img src="{{ seller.logo.url }}" class="seller-card-logo">
            {% else %}
                <img src="{% static 'images/profile-placeholder.png' %}" class="seller-card-logo">
            {% endif %}

            <h3 class="seller-name">{{ seller.user.username }}</h3>

            <div class="seller-type-text">
                {{ seller.seller_type }}
            </div>

        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}