{% extends "base.html" %}

{% block content %}
<div class="user-detail-page">

    <div style="height: 90px;"></div>

    <div class="user-detail-profile-wrapper">

        <div class="user-detail-profile-card">

            {% if buyer.profile_pic %}
                <img src="{{ buyer.profile_pic.url }}" class="user-detail-logo">
            {% endif %}

            <div class="user-detail-info">

                <div class="user-detail-name">
                    {{ buyer.full_name }}
                </div>

                <div>
                    {{ buyer.user.username }}
                </div>

                <ul class="user-detail-type">
                    <li>Buyer</li>
                </ul>

                <div class="user-detail-bio">
                    {% if buyer.bio %}
                        {{ buyer.bio }}
                    {% else %}
                        This user has not added a bio yet
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<div class="user-detail-artworks">

    <div class="user-detail-section-title">
        Bids
    </div>

    {% if request.user == buyer.user %}
        <a href="{% url 'my-bids' %}" class="btn btn-outline-dark" mb-4>
            View all bids
        </a>
    {% endif %}


    {% include "artwork/_artworks_list.html" with is_buyer=True bids=bids %}




    </div>
</div>




{% endblock %}