{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/temp-logo.webp' %}" alt="avlogo" width="50" height="50" class="rounded-circle">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'seller-index' %}">Sellers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% if user.is_authenticated %}

            <div class="dropdown ms-3">

                <a href="#"
                   class="d-block"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">

                    <img src="{% static 'images/profile-placeholder.png' %}"
                     alt="profile"
                     width="50"
                     height="50"
                     class="rounded-circle"
                     style="object-fit: cover;">

                </a>

                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a class="dropdown-item" href="#">
                            View Profile
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">
                            Edit Profile
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="#">
                            View my bids
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">
                                Log Out
                            </button>
                        </form>
                        
                    </li>
                </ul>

            </div>








        {% else %}

            <button type="button"
                    class="btn btn-outline-dark ms-3"
                    data-bs-toggle="modal"
                    data-bs-target="#loginModal">
                Login
            </button>

            <a href="{% url 'register' %}" class="btn btn-dark ms-2">
                Register
            </a>

        {% endif %}
    </div>
  </div>
</nav>


<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">

             <div class="modal-header">
                 <h5 class="modal-title" id="loginModalLabel">Log in</h5>

                 <button type="button"
                         class="btn-close"
                         data-bs-dismiss="modal"
                         aria-label="Close">
                 </button>
             </div>

             <form method="post" action="{% url 'login' %}">
                 {% csrf_token %}

                 <div class="modal-body">

                     <div class="mb-3">
                         <label class="form-label">Username</label>
                         <input type="text" name="username" class="form-control">
                     </div>

                     <div class="mb-3">
                         <label class="form-label">Password</label>
                         <input type="password" name="password" class="form-control">
                     </div>

                     <div class="text-end">
                         <a href="{% url 'password_reset' %}" class="small text-decoration-none">
                             Forgot your password?
                         </a>
                     </div>

                 </div>

                 <div class="modal-footer">
                     <button type="submit" class="btn btn-dark w-100">
                         Log in
                     </button>
                 </div>

             </form>

         </div>
    </div>
</div>