{% extends "base.html" %}

{% block content %}
<div class="registration-form">
    <h1>Register now!</h1>

    <form method="post" action="{% url 'register' %}">

        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small>{{ field.help_text|safe }}</small>
                {% endif %}

                {{ field.errors }}
            </div>
        {% endfor %}

        <div class="register-as-seller-buttons">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="is_seller" id="master-checkbox">
              <label class="form-check-label" for="master-checkbox">
                Register as seller
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input dependent-radio" type="radio" name="seller_type" value="artist" id="radio-artist" disabled>
              <label class="form-check-label" for="radio-artist">
                artist
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input dependent-radio" type="radio" name="seller_type" value="gallery" id="radio-gallery" disabled>
              <label class="form-check-label" for="radio-gallery">
                Gallery
              </label>
            </div>
        </div>


        <input type="submit" class="btn btn-primary" value="Register">

    </form>
</div>


<script>
  const master = document.getElementById('master-checkbox');
  const radios = document.querySelectorAll('.dependent-radio');
  const radioArtist = document.getElementById('radio-artist');

  master.addEventListener('change', function() {
    radios.forEach(radio => {
      radio.disabled = !this.checked;
    });

    if (this.checked) {
        radioArtist.checked = true;
    } else {
      radios.forEach(radio => radio.checked = false);
    }
  });
</script>

{% endblock %}
