{% extends "base.html" %}

{% block content %}
<div class="registration-form">
    <h1>Register now!</h1>

    <form method="post" action="{% url 'register' %}">

        {% csrf_token %}

        {% if form.errors %}
            <ul class="register-error">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        {{ form }}

        <div class="register-as-seller-buttons">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="is_seller" id="master-checkbox">
              <label class="form-check-label" for="master-checkbox">
                Register as seller
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input dependent-radio" type="radio" name="seller_type" value="individual" id="radio-individual" disabled>
              <label class="form-check-label" for="radio-individual">
                Individual
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input dependent-radio" type="radio" name="seller_type" value="gallery" id="radio-gallery" disabled>
              <label class="form-check-label" for="radio-gallery">
                Gallery
              </label>
            </div>
        </div>


        <input type="submit" class="btn btn-primary" value="Register">

    </form>
</div>


<script>
  const master = document.getElementById('master-checkbox');
  const radios = document.querySelectorAll('.dependent-radio');
  const radioIndividual = document.getElementById('radio-individual');

  master.addEventListener('change', function() {
    radios.forEach(radio => {
      radio.disabled = !this.checked;
    });

    if (this.checked) {
        radioIndividual.checked = true;
    } else {
      radios.forEach(radio => radio.checked = false);
    }
  });
</script>

{% endblock %}
